.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  columns: 1;
  column-gap: 40px;
}

.card-container .card {
  height: fit-content;
  break-inside: avoid;
}

@media (min-width: 415px){
  .card-container {
    columns: 1;
  }
}

@media (min-width: 768px){
  .card-container {
    columns: 2;
  }
}

@media (min-width: 1024px){
  .card-container {
    columns: 3;
  }
}

@media (min-width: 1200px){
  .card-container {
    columns: 4;
  }
}

@media (min-width: 2000px){
  .card-container {
    columns: 5;
  }
}




